// Here you can add other styles

.membership_container{
    border: .5px solid #ccc;
    border-radius: 5px;
    padding: .5em;
    display:flex;
    align-items:center;
    background-color:#fff;
    margin-bottom:12px;

    .membership_info{
        padding: 2px 10px;
        display:grid;
        width:80%;
        grid-template-areas: "a b"
                             "c d";
        border-right: .5px solid #ccc;

        .membership_title{
            font-size:1.3em;
            grid-area:a;
            font-weight: 600;
        }
        .membership_sport{
            align-items: center;
            display: flex;
            justify-content: flex-end;
            grid-area:b;
            max-height: 26px;

            p{
                background-color: #4dbd74;
                color:#fff;
                border-radius: 4px;
                padding:0 10px;
            }
        }
        .membership_userRoles{
            display:flex;
            align-items: center;
            grid-area:c;
            flex-wrap:wrap;

            .membership_userRole{
                background-color:#c8ced3;
                color:#000;
                border-radius: 4px;
                padding:0 10px;
                margin: 3px 3px 0 0;

                &:first-child{
                    margin-left:0px;
                }
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
        p{
            grid-area:d;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 0;
            font-weight: 600;
        }
    }
    .membership_delete{
        display:flex;
        width:20%;
        margin: 10px;
            button{
                padding:2px;
            }
    }
}